@model IEnumerable<MicroLab.BussinessEntities.Exam>

@{
    ViewData["Title"] = "GenerateReport";
}
<h1>GenarateReport</h1>

<h4>Exam</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Report">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="startDate">Fecha de inicio:</label>
                <input type="date" class="form-control" id="startDate" name="startDate">
            </div>
            <div class="form-group">
                <label for="endDate">Fecha de fin:</label>
                <input type="date" class="form-control" id="endDate" name="endDate">
            </div>
            <button type="submit" class="btn btn-primary">Generar Reporte</button>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


