@model IEnumerable<MicroLab.BussinessEntities.Exam>

@{
    ViewData["Title"] = "Report";
    var cont = 0;
}

<h1>Reporte Semanal</h1>


<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
          Total de Examenes
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            cont += 1;
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @cont
                </td>

            </tr>
        }
    </tbody>

</table>
@* <h2>
    @cont
</h2> *@








